# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Env / secrets
.env
.env.local
.env.*.local

# Build
dist/
build/

# Surge
.surgeignore
